*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Arial Narrow',Arial, sans-serif;
}
h1{
    font-size: 25px;
    color: #383838;
}
.main{
    border: 1px solid rgb(146, 146, 146);
    width: 330px;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #9e9e9e;
    margin: 1rem;
}
p{
    margin: 5px 0;
    font-size: 15px;
    color: #707070;
}
.activity{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.activity div{
    display: flex;
    flex-direction: column;
}
.count{
    color: #9B45E4;
    font-weight: 900;
}
span{
    text-transform: uppercase;
    color: #707070;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
}
.btns button{
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
}
.btns button:nth-child(1){
    background-color: #9B45E4;
}
.btns button:nth-child(2){
    background-color: #E13A9D;
}
